<!DOCTYPE html>
<html lang="en">

<head>
    <title>Employee Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Employee Register</h1>
            <p>Python Django project for implementing CRUD operations</p>
            <hr class="my-4">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>

</html>
